[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
gguf = "*"
sentencepiece = "*"
typer = "*"
wheel = "*"
graphviz = "*"

[dev-packages]
typer-cli = "*"
setuptools = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
